@charset "UTF-8"
body{
    background-color: gray;
}

main{
    background-color: pink;
}

main, article, nav, header, footer{
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

article, nav, header, footer{
    background-color: white;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

header, nav, footer{
    flex: 0 0 100%;
}

article{
    flex:  0 0 calc(33.3333% - 10px);
    margin: 5px;
}
@media screen and (max-width:600px){
    main{
        flex-direction: column;
    }
}